.footer{
     
    background-color: #000000;
   
    width: 100%;
    color:#737373;
    padding: 25px 0px 15px;
    font-size:15px;
    list-style: none;
}
.footer .links a{
    color: #737373;
}
.social-media a{
    color: #737373;
}
.footer a:hover{
    color: white;
}

.footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer h5{
    
    color: white;
    font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}
.footer .social-media {
    list-style: none;
}
